<h1 mat-dialog-title>Add New Post</h1>
<div mat-dialog-content>
  <mat-card class="example-card">
    <form class="add-post-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Post Description</mat-label>
        <input matInput placeholder="Post Description" [formControl]="postDescFormControl">
      </mat-form-field>

      <button mat-raised-button color="accent" (click)="addOnePost()">Add Post</button>
    </form>
  </mat-card>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="">Close</button>
</div>
